/*music*/
.bg-music {
  position: static;
  top: 64%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 78px;
  border: none;
  display: block;
  margin: 0 auto;
  opacity: 0.3;
  transform: all linear 0.2s;
}
.btn:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
}
.fa-pause-circle-o {
  display: none;
}
/* main page video background */
#myVideo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 950px) {
  #background-video {
    display: none;
  }
  body {
    background: url("mp4/data_analysis_digital.mov") no-repeat;
    background-size: cover;
  }
}
/* pages=about,projects background */
#body1,
#body2 {
  margin: 0;
  padding: 0;
  animation: gradient;
  background-size: 400% 400%;
  height: fit-content;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(85, 145, 242, 0.852)
  );
}
/*brands icons setting */
.languages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.sci {
  position: relative;
  display: flex;
}
.sci li {
  list-style: none;
}
.sci li::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 90%));
  font-size: 6vw;
  pointer-events: none;
  font-weight: 600;
  transition: 0.5s;
  color: black;
  opacity: 0;
}
.sci li:hover::before {
  opacity: 0.5;
  transform: translate(-50%, calc(-50% + 110%));
}

.sci li a {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 120px;
  background: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  margin: 20px;
  font-size: 4em;
  transform-style: preserve-3d;
  perspective: 500px;
  color: black;
}
.sci li a:hover.css {
  color: blue;
}
.sci li a:hover.html {
  color: rgb(255, 128, 0);
}
.sci li a:hover.js {
  color: rgb(255, 221, 0);
}
.sci li a:hover.boot {
  color: blueviolet;
}
.sci li a:hover.react {
  color: rgb(0, 157, 255);
}

@media ((max-width: 960px)) and (min-width: 300px) {
  .sci li a {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .sci li a {
    width: 100%;
  }
}
/*social media icons*/

#links a {
  margin: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.505);
}

/* main pages CSS*/
h1 {
  color: rgba(0, 0, 0, 0.725);
  font-family: "Orbitron", sans-serif;
  font-size: 50px;
  font-weight: 100px;
  margin: 30px;
}
h1.mainTitle {
  font-size: 50px;
  font-weight: 40px;
  color: rgba(0, 0, 0, 0.684);
}

h2.tittle {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.684);
}

h1,
h2,
h3,
h4,
p,
footer {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: rgba(0, 0, 0, 0.64);
}

footer a {
  margin: 0 20px;
  padding: 10px 15px;
  border-radius: 50%;
  font-family: "Orbitron", sans-serif;
  color: rgba(255, 255, 255, 0.632);
}

img {
  display: block;
  margin: 30px auto;
  width: 300px;
  border-radius: 100%;
  -webkit-border-radius: 50%;
  border-width: 10px;
  box-shadow: -50px -20px 40px rgba(93, 73, 240, 0.25),
    0px 50px 40px rgba(57, 199, 255, 0.3),
    50px -20px 40px rgba(187, 118, 255, 0.3),
    0 0 2pt 4pt rgba(255, 255, 255, 0.6);
}
