.bg-music {
  position: absolute;
  top: 64%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  color: #fff;
  font-size: 78px;
  border: none;
  display: block;
  margin: 0 auto;
  opacity: 0.3;
  transform: all linear 0.2s;
}
.btn:hover {
  opacity: 1;
}
.fa-pause-circle-o {
  display: none;
}

#myVideo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 950px) {
  #background-video {
    display: none;
  }
  body {
    background: url("mp4/data_analysis_digital.mov") no-repeat;
    background-size: cover;
  }
}

#body2 {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    rgb(124, 150, 221),
    rgba(131, 141, 170, 0.487)
  );
}

#body1 {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(131, 171, 236, 0.968)
  );
}

h1,
h3,
p,
footer {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer a {
  margin: 0 10px;
}
